<a href="https://colab.research.google.com/github/barriletecosmico12/PROGCOM-B/blob/main/clase5listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LISTAS
1. un nuevo tipo de dato
2. es mutable
3. indexacion: hay un orden(sabemos cual es el dato 1 2 3 etc)
4. hay un numero finito de datos
5. todas las listas se abren y cierran con [] y se separan con ,

 sintaxis


```
nombre_lista=[] #crear lista vacia
flores=["margarita", "rosa", "tulipan"]
```
listas por extension.

In [ ]:
nu=[]
for i in range(1,11):
  nu[i]=i

IndexError: list assignment index out of range

In [ ]:
for i in range(10):
  nu.append(i+1)

In [ ]:
nu

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [ ]:

nombres=[]
for i in range(3):
  nombres.append(input("ingrese un nombre: "))

ingrese un nombre: kkty
ingrese un nombre: ooiu
ingrese un nombre: i

In [ ]:
nombres

['kkty', 'ooiu', 'i']

##indexacion en listas
*recordar que python cuenta desde **0***


```
lista=[elemento1, elemento2, elemento3]
lista[0]=elemento1
lista[3]=error fuera de rango
```

In [ ]:
##indexacion negativa
Lista_num=[1,2,3,4,5,6,7,8,9,10]
Lista_num[-1]

10

In [ ]:
Lista_num[-2]

9

In [ ]:
Lista_num[len(Lista_num)-1]

10

In [ ]:
Lista_num[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
Lista_num[:2]

[1, 2]

##listas por comprension
son expresiones que generan listas
sintaxis:


```
nombre_lista=[expresion for variable in iteracion if condicion ]
```

ejemplos

In [ ]:
#1 convertir una lista de oraciones en una lista de palabras
oracion=["aqui va una oracion", "aqui va otra oracion", "aqui va la tercera oracion"]
len(oracion)

['aqui va una oracion', 'aqui va otra oracion', 'aqui va la tercera oracion']

In [ ]:
palabras=[i.split()for i in oracion]
palabras

[['aqui', 'va', 'una', 'oracion'],
 ['aqui', 'va', 'otra', 'oracion'],
 ['aqui', 'va', 'la', 'tercera', 'oracion']]

In [ ]:
len(palabras[2])

5

In [ ]:
#2. obtener los pares de Lista_num
pares=[num for num in Lista_num if num%2==0]
pares

[2, 4, 6, 8, 10]

In [ ]:
#3. clasificar numeros en negativos o positivos
numeros=[-1,2,-3,4,-5,6,-7,8,-9,10]
clasificacion=[("positivo",x) if x>=0 else ("negativo",x) for x in numeros]
clasificacion

[('negativo', -1),
 ('positivo', 2),
 ('negativo', -3),
 ('positivo', 4),
 ('negativo', -5),
 ('positivo', 6),
 ('negativo', -7),
 ('positivo', 8),
 ('negativo', -9),
 ('positivo', 10)]