<a href="https://colab.research.google.com/github/barriletecosmico12/PROGCOM-B/blob/main/clase_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##Listas
* son un conjunto de tipos de datos. **indexado** separado por comas y encerrado entre[]
* todos los elementos de una lista se empizan a contar desde 0
##creacion de listas
* forma general:lista=[]
* forma manual: animales=["gato", "perro", "zorro"]
* por conversion: numero=list(range(10))
* son objetos

1. lista=[]

In [ ]:
lista=[]

In [ ]:
lista=list(range(1,8))

In [ ]:
type(lista)

list

In [ ]:
 zorro=[1,2,3,4]
 animales=["gato", "perro", zorro]
 animales

['gato', 'perro', [1, 2, 3, 4]]

In [ ]:
type(zorro)

list

In [ ]:
numero=list(range(10))
numero

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
range(10)

range(0, 10)

##Estructura para - (for)

se usa cuando:
* se sabe **cuantas veces** se repite una acción.
* Está compuesta por un contador y una condición.
* **contador**: Identifica cuantas veces se va a repetir el bucle y con qué frecuencia.
* **condición**: Evalua cuando se detiene.

Por definición:



```
for variable in range(vi, vf+1,paso):
 aqui se repite parte del codigo
```

donde
1. vi: condicion inicial. donde arranco a contar
2. vf+1: condicion final. donde dejo de contar+1
3. paso: frecuencia de conteo

for para recorrido de listas
flor=["amapola", "tulipan", "rosa"]
* el para va a iterar tantas veces como elementos tenga la lista
* la variable dentro del para toma como valor, ada elemento de la lista

```
for variable in lista:
  variable
```

In [ ]:
#creando una lista de nombre flor
flor=["amapola", "rosa", "tulipan", "orquidea"]
for flores in flor:
  print(flores)
  if flores=="tulipan":
    break #rompe la iteracion

amapola
rosa
tulipan

In [ ]:
nombre=[]
for nombres in range(5):
  nombre.append(input("ingrese su nombre:"))

ingrese su nombre:jj
ingrese su nombre:f
ingrese su nombre:j
ingrese su nombre:jgj
ingrese su nombre:j

##estructura while
* se emplea cuando **no se sabe** cuantas veces debe repetir una accion, pero si se conoce su condicion de parada (CP).
* condicion inicial: donde arranca el ciclo
* condicion final (parada): que indica donde se detiene el ciclo
* modificador de condicion inicial

estructura general del mientras



```
condicion inicial
while (condicion==condicion final):
  modificador de condicion inicial
```
modificadores de condicion inicial
* banderas: son booleanos
* son preguntas
* son contadores o acumuladores

mutabilidad e inmutalidad

1 Escribe un programa que imprima los números del 1 al 10.

In [ ]:
for numeros in range(1,11):
  print(numeros)

1
2
3
4
5
6
7
8
9
10

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10]
for numeros in num:
  print(numeros)

1
2
3
4
5
6
7
8
9
10

2 Escribe un programa que sume los números del 1 al 100.

In [ ]:
suma= 0
for nums in range(1,101):
  suma+= nums
  print(suma)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [ ]:
suma=0
num=list(range(1,101))
for num in num:
  suma+=num
  print(suma)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

3 Escribe un programa que imprima los múltiplos de 3 entre 1 y 30.

In [ ]:
for nums in range(1,31):
  if nums%3==0:
   print(nums)

3
6
9
12
15
18
21
24
27
30

In [ ]:
nums=list(range(1,31))
for nums in nums:
  if nums%3==0:
   print(nums)

3
6
9
12
15
18
21
24
27
30

4 Escribe un programa que lea un número e imprima su tabla de multiplicar del 1 al 10.

In [ ]:
multiplicacion=0
input("ingrese un numero:")
numero
for num in range(1,11):
  num*=numero
  print(num)

ingrese un numero:1
0
0
0
0
0
0
0
0
0
0