<a href="https://colab.research.google.com/github/barriletecosmico12/PROGCOM-B/blob/main/listastaller.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1. Crear una lista con los cuadrados de los números del 1 al 10
cuadrados = [num ** 2 for num in range(1,11)]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#2.Obtener una lista con los números pares del 0 al 20
Pares = [num for num in range(1,21) if num%2 == 0]
Pares

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
#3.Crear una lista con el doble de los números del 1 al 5
NDoble = [num * 2 for num in range(1,6)]
NDoble

[2, 4, 6, 8, 10]

In [8]:
#4. De la palabra "programacion", obtener solo las vocales
p = "programacion"
vocales = [a for a in p if a in ("a", "e", "i", "o", "u")]
vocales

['o', 'a', 'a', 'i', 'o']

In [14]:
#5. Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas
Programas = ["python", "java", "c++"]
Mayus = [p.upper() for p in Programas]
Mayus

['PYTHON', 'JAVA', 'C++']

In [13]:
#6. Crear una lista con "par" o "impar" para los números del 1 al 10
Lista = [1,2,3,4,5,6,7,8,9,10]
clasificacion = [(num, "par") if num%2==0 else (num, "impar") for num in Lista]
clasificacion

[(1, 'impar'),
 (2, 'par'),
 (3, 'impar'),
 (4, 'par'),
 (5, 'impar'),
 (6, 'par'),
 (7, 'impar'),
 (8, 'par'),
 (9, 'impar'),
 (10, 'par')]

In [16]:
#7. Generar una lista de tuplas con el número y su cuadrado del 1 al 5
Num = [1,2,3,4,5]
t = [(i, "su cuadrado es" ,i**2 ) for i in Num]
t

[(1, 'su cuadrado es', 1),
 (2, 'su cuadrado es', 4),
 (3, 'su cuadrado es', 9),
 (4, 'su cuadrado es', 16),
 (5, 'su cuadrado es', 25)]

In [17]:
#8. Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3]
L = ["a","b"]
Num = [1,2,3]
Combinacion = [(letra,Numero) for letra in L for Numero in Num]
Combinacion

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [21]:
#9. De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras
p =["sol", "estrella", "mar", "planeta"]
cuatroletras = [i for i in p if len(i) > 4]
cuatroletras

['estrella', 'planeta']

In [24]:
#10.Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "frío". Si está entre 26 a 29, es "templado". Si es mayor a 29, el clima es "caliente"
temp=list(range(1,40))
clasf=[(i, "frio") if i<26 else (i, "templado") if i>=26 and i<=29 else (i, "caliente") for i in temp]
clasf

[(1, 'frio'),
 (2, 'frio'),
 (3, 'frio'),
 (4, 'frio'),
 (5, 'frio'),
 (6, 'frio'),
 (7, 'frio'),
 (8, 'frio'),
 (9, 'frio'),
 (10, 'frio'),
 (11, 'frio'),
 (12, 'frio'),
 (13, 'frio'),
 (14, 'frio'),
 (15, 'frio'),
 (16, 'frio'),
 (17, 'frio'),
 (18, 'frio'),
 (19, 'frio'),
 (20, 'frio'),
 (21, 'frio'),
 (22, 'frio'),
 (23, 'frio'),
 (24, 'frio'),
 (25, 'frio'),
 (26, 'templado'),
 (27, 'templado'),
 (28, 'templado'),
 (29, 'templado'),
 (30, 'caliente'),
 (31, 'caliente'),
 (32, 'caliente'),
 (33, 'caliente'),
 (34, 'caliente'),
 (35, 'caliente'),
 (36, 'caliente'),
 (37, 'caliente'),
 (38, 'caliente'),
 (39, 'caliente')]